.underline{
    text-decoration-color: rgb(240, 240, 130);
}
body{
    color: rgb(219, 93, 118); font-style: italic; background-color: rgb(138, 201, 174); left: 100px; position: relative; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 200;
}
.box{
    font-size: larger;position: relative; left: 340px;  background-color: rgb(187, 233, 190); border-style: double; width: 600px;height: 660px;
}
.heading{
    position: relative; left: 100px;
}
.content{
    position: relative; left: 100px;
}