.ways{
    width:90%;
    margin:5%;
    display:flex;
    height:410px}
    .button2 {
        background-color: #60a8ec;
        border-style: groove;
        border-radius: 25px;
        color: rgb(248, 245, 69);
        padding: 4px 8px;
        text-align: center;
        text-decoration-style: wavy;
        display: inline-block;
        font-size: 16px;
        margin: 2px 1px;
        cursor: pointer;
        }
        .frontimage{
            border:transparent;
            border-radius: 10px;
            width: 100%;
            background-image: url("websiteback.jpg");
        }
          .msg{text-align:center;
          font-size:72px;
          color:rgb(188, 119, 245);
          margin-top:20%;}
          .albert{
              margin-left: 80%;
              width: 20%;
              font-size: xx-large;
          }
          .quote{position:relative;
              top:40px;
              font-size: xx-large;
              height:50px;
              max-width: min-content;
              position:abolute;
              border-right:  solid #0000ff;
              overflow: hidden;
              white-space: nowrap;
              color: rgb(241, 118, 46);
              animation: blink .2s linear 0s infinite , typewrite 9s  linear 0s infinite;
              margin-left: 14%;
              letter-spacing: .04em;}
              @keyframes blink {
                  from{ border-right-color: transparent;}
                  to{border-right-color: rgb(11, 12, 12);}
              }
              @keyframes typewrite {
                  from{
                      width:0%;
              
                  }
                  to{
                      width: 100%;}
              }
              .blocks{
                  display:flex;
                  flex-wrap: wrap;
                  /* width: 100%;
                  height: auto;
              } */}
              .block2{
                width: auto;
                height:300px;
                margin: auto;
                border-radius: 20px;
                border: groove;
                background-color: antiquewhite;
                text-align: center;
                font-size: 45px;
            }
            .bubble{
                background: transparent;
                border-radius: 50%;
                margin-left: 20%;
                position: relative;
                border-style: outset;
                border-width: thin;
                display: inline-block;
                box-shadow: 10%;
                animation: bubb 7s linear 0s infinite ;
            }
            @keyframes bubb {
                0%{ 
                    bottom: 0px;
                    left: 0px;
                }
                50%{ left: 150px;
                    bottom: 300px;}
                to{
                    bottom:800px;
                    left:-50px;
                }
            }
            .block3{
                width: 70%;
                height:33%;
                font-family:'TIMES NEW ROMAN';
                font-weight: 300;
                border-radius: 25px;
                color:black;
                border-style: groove;
                background: transparent;
                display: inline-block;
                text-align: center;
                margin-left: 250px;
                font-size: 56px;
                margin-top: -80px;
            }
            .block4{
                width: 96%;
                height:auto;
                margin: auto;
                margin-top: 40%;
                border: groove peru;
                background-color: rgb(109, 107, 105);
                text-align: center;
                font-size: xx-large;
            }
            .photo{
                border: solid rgb(151, 56, 100);
                border-radius: 50%;
                width: 120px;
                height:120px;
                margin:auto;
            }
            .intro{
                    
                    font-size:xx-large;
                    color: rgb(67, 87, 62);
                    text-align: center;
                    width: 100%;
                    margin: auto;
                    }
            .link{
                    border: solid black;
                    border-radius: 25px;
                    width: 200px;
                    height: 70px;
                    background-size: 200px 70px;
                    }