.card{ 
    position:absolute; 
    height: 230px;
    width:160px;
    backface-visibility: hidden;
    transition:all 0.5s linear;
    background-size:160px 230px ;
}
.chances{
    font-size: 40px;
    text-align: center;
}
.back{
    position:absolute; 
    height: 230px;
    width:160px; 
    background:  url("/back.jpg");
    background-size:160px 230px ;
    transition:all 0.5s linear;
    transform-style: preserve-3d;
}
.back.flip{
    transform:rotateY(180deg);
}
.card.flip{
    transform:rotateY(180deg);
    
}
.bigcontainer{
    height: 500px;
    width: 92%;
    margin:auto;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;flex-direction: row;
    justify-content: center;
}
.head{
    font-size: 42px;
    color:chocolate;
    text-align: center;

} 
.container{
    height: 230px;
    width:160px;
    transition: all 0.5s linear;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

